name: Build Plugin
on: [push] # This runs the build every time you save code

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn clean package
      - name: Upload JAR
        uses: actions/upload-artifact@v3
        with:
          name: ItemScanner-Jar
          path: target/*.jar
